@charset "UTF-8";
/*===================================

◆共通CSSマップ
L【　リセット　】
L【　基本設定　】
L【 ぺージ全体範囲 】
L【 カラーパターン 】
L【 スニペット 】
L【 見出しのスタイル 】
L【 WEBフォント設定 】
L【 デバイス　width分岐設定 】
L【 clearfix 】
L【 ブロックに合わせて自動縮小 】
L【 グーグルマップ 】
L【 フェイスブック(pagePulgin) 】
L【 flexbox 】
L【　共通：ヘッダー　】
L【　共通：フッター　】
L【　共通：サイド・その他　】
L【　共通：メインコンテンツ　】

上記のテキストを[ctrl+c]でコピーして
指定のページまで飛んでください

===================================*/
/*======================================================================
 * リセット
======================================================================*/
* {
  word-wrap: break-word !important; }

figure, ul, ol, li, dl, dd, p, div {
  margin: 0;
  padding: 0; }

ul, ol {
  list-style: none; }

/*======================================================================
 * 基本設定
======================================================================*/
html {
  font-size: 62.5%; }

body {
  background: #fff;
  color: #323232;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 1.4rem;
  -webkit-text-size-adjust: 100%; }

a {
  color: inherit;
  text-decoration: none; }

a:hover {
  color: inherit;
  text-decoration: underline; }

a.unline {
  text-decoration: none; }

a.opc:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5; }

/*======================================================================
  ＊ページ全体範囲
======================================================================*/
/*※デザインに応じてwidthを変更*/
/*※レスポンシブサイトなら「width」を「max-width」に変更*/
.range_01 {
  margin-right: auto;
  margin-left: auto;
  max-width: 415px; }

@media screen and (max-width: 415px) {
  .range_01 {
    margin-right: 10px;
    margin-left: 10px;
    padding-left: 0;
    padding-right: 0; } }
/*======================================================================
  ＊　カラーパターン
======================================================================*/
/*文字色*/
.cp_00 {
  color: #fff; }

.cp_01 {
  color: #800000; }

.cp_02 {
  color: #333; }

.cp_03 {
  color: #7e4522; }

/*線色*/
.line_00 {
  border-color: #fff; }

.line_01 {
  border-color: #800000; }

.line_02 {
  border-color: #333; }

.line_03 {
  border-color: #7e4522; }

/*背景色*/
.bgcolor_00 {
  background-color: #fff; }

.bgcolor_01 {
  background-color: #800000; }

.bgcolor_02 {
  background-color: #333; }

.bgcolor_03 {
  background-color: #7e4522; }

.bgcolor_04 {
  background-color: #dcdcdc; }

/*======================================================================
  ＊　スニペット
======================================================================*/
/*マージンスニペット*/
.mg_b01 {
  margin-bottom: 60px; }

.mg_b02 {
  margin-bottom: 40px; }

.mg_b03 {
  margin-bottom: 20px; }

/*======================================================================
  ＊　見出しのスタイル
======================================================================*/
.ttl_01 {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  line-height: 1.2em;
  margin-bottom: 16px;
  padding-bottom: 8px;
  text-align: center; }
  .ttl_01 > span {
    display: inline-block;
    position: relative;
    padding: 0 24px; }
    .ttl_01 > span:before, .ttl_01 > span:after {
      background: url(../img/_icon/icon001.png) center no-repeat;
      background-size: contain;
      content: "";
      display: block;
      height: 25px;
      margin-top: -12px;
      position: absolute;
      top: 50%;
      width: 17px; }
    .ttl_01 > span:before {
      left: 0; }
    .ttl_01 > span:after {
      right: 0; }
  .ttl_01.icon_left_01 span, .ttl_01.icon_right_01 span {
    padding-left: 38px;
    padding-right: 38px; }
    .ttl_01.icon_left_01 span:before, .ttl_01.icon_right_01 span:before {
      background-image: url(../img/_icon/icon002.png);
      width: 30px; }
    .ttl_01.icon_left_01 span:after, .ttl_01.icon_right_01 span:after {
      background-image: url(../img/_icon/icon003.png);
      width: 30px; }
  .ttl_01.icon_left_02 span, .ttl_01.icon_right_02 span {
    padding-left: 38px;
    padding-right: 38px; }
    .ttl_01.icon_left_02 span:before, .ttl_01.icon_right_02 span:before {
      background-image: url(../img/_icon/icon004.png);
      width: 30px; }
    .ttl_01.icon_left_02 span:after, .ttl_01.icon_right_02 span:after {
      background-image: url(../img/_icon/icon004.png);
      width: 30px; }

.ttl_02 {
  font-weight: normal;
  margin-bottom: 16px;
  padding: 8px;
  text-align: center; }

.ttl_03 {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  font-size: 2.4rem;
  font-weight: bold;
  margin-bottom: 8px;
  padding-bottom: 4px;
  text-align: center; }

@media screen and (max-width: 414px) {
  .ttl_01 {
    font-size: 2.4rem; } }
@media screen and (max-width: 375px) {
  .ttl_01 {
    font-size: 2.1rem; }
    .ttl_01.icon_left_02, .ttl_01.icon_right_02 {
      font-size: 2.4rem; } }
@media screen and (max-width: 320px) {
  .ttl_01 {
    font-size: 2.4rem; }
    .ttl_01.icon_left_01, .ttl_01.icon_right_01 {
      font-size: 2.1rem; } }
/*======================================================================
  ＊　WEBフォント設定
======================================================================*/
/*----WEBフォントのファイルを読み込み----*/
/*
@font-face{
font-family: 'フォント名';
    src: url(フォント名.eot);
    src: url(フォント名.ttf),
         url(フォント名.woff);
}
*/
/*----WEBフォントをclassに設定----*/
/*
.フォント名 {
    font-family: 'フォント名',"メイリオ", Meiryo, sans-serif;
}
*/
/*======================================================================
  ＊ デバイス　width分岐設定
======================================================================*/
/* ipad */
.sp_768_br {
  display: block; }

/* inhone6 plus */
.sp_414_br {
  display: inline; }

/* inhone6 */
.sp_375_br {
  display: block; }

/* inhone5 */
.sp_320_br {
  display: block; }

@media screen and (max-width: 768px) {
  .sp_768_br {
    display: inline; } }
@media screen and (max-width: 414px) {
  .sp_414_br {
    display: block; } }
@media screen and (max-width: 375px) {
  .sp_375_br {
    display: inline; } }
@media screen and (max-width: 320px) {
  .sp_320_br {
    display: inline; } }
/*======================================================================
  ＊ clearfix
======================================================================*/
.cf:after {
  content: ".";
  display: block;
  visibility: hidden;
  height: .1px;
  font-size: .1em;
  line-height: 0;
  clear: both; }

/*======================================================================
  ＊ ブロックに合わせて自動縮小
======================================================================*/
img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom; }

/*======================================================================
  ＊ グーグルマップ
======================================================================*/
/*<div class="ggmap">{iframeコード}</div>*/
/*※iframe内のwidth,heightは消す*/
.ggmap {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden; }

.ggmap iframe, .ggmapr object, .ggmap embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/*======================================================================
  ＊ フェイスブック(pagePulgin)
======================================================================*/
.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget iframe[style] {
  width: 100% !important; }

/*======================================================================
  ＊　flexbox
======================================================================*/
.flex {
  display: flex;
  -webkit-display: flex; }

.flex_d_row {
  flex-direction: row; }

.flex_w_nowrap {
  flex-wrap: nowrap; }

.flex_w_wrap {
  flex-wrap: wrap; }

.jc_end {
  justify-content: flex-end; }

.jc_center {
  justify-content: center; }

.jc_between {
  justify-content: space-between; }

.ai_end {
  align-items: flex-end; }

.ai_center {
  align-items: center; }

.ai_baseline {
  align-items: baseline; }

.ai_stretch {
  align-items: stretch; }

/*====================================
　* 共通：ヘッダー
=====================================*/
header {
  background: #232323;
  width: 100%;
  overflow: hidden;
  height: auto;
  padding: 10px 0; }

header.fix {
  display: none;
  position: fixed; }

header h1,
header #logo {
  float: left;
  margin: 0;
  width: 50%; }

header #drawer-toggle {
  width: 12.5%;
  padding-right: 2%;
  float: right; }

/*====================================
　* 共通：フッター
=====================================*/
#fNav {
  margin-left: auto !important;
  margin-right: auto !important; }

#fNav ul {
  overflow: hidden;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%; }

#fNav ul li {
  box-sizing: border-box;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  font-size: 12px; }

#fNav ul li a {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  display: -webkit-flex;
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
  padding: 16px;
  position: relative;
  width: 100%; }

#fNav ul li a.pc:after {
  content: "\f2d2";
  display: block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  position: absolute;
  top: 50%;
  right: 8px;
  text-rendering: auto;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -webkit-font-smoothing: antialiased; }

#fNav ul li a:before {
  background: url(../img/_icon/icon005.png) left center no-repeat;
  background-size: 22.5px;
  content: "";
  display: block;
  height: 14px;
  padding-right: 1em;
  width: 22.5px; }

footer .pagetop {
  padding: 16px 0;
  text-align: center; }
  footer .pagetop a {
    background: url(../img/_icon/icon007.png) right center no-repeat;
    background-size: 20px;
    display: inline-block;
    padding-right: 36px; }
footer .shop_info {
  padding: 16px;
  line-height: 1.8em;
  text-align: center; }
  footer .shop_info p b {
    font-size: 1.6rem;
    font-weight: normal; }
  footer .shop_info p:last-child {
    margin-top: 24px; }
footer .tel {
  padding: 24px;
  text-align: center; }

footer #copyright {
  margin: 0;
  padding: 3% 0;
  text-align: center; }

/*====================================
　* 共通：サイド・その他
=====================================*/
.fix_tel {
  height: 34px;
  font-size: 4rem;
  line-height: 1;
  position: fixed;
  top: 12px;
  right: 80px;
  width: 34px;
  z-index: 8000; }

.reservation_content {
  text-align: center; }

/*====================================
　* 共通：メインコンテンツ
=====================================*/
main {
  margin-bottom: 10%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transform: translateX(200px);
  -ms-transform: translateX(200px);
  -webkit-transform: translateX(200px);
  transform: translateX(200px);
  -webkit-transition: all 1000ms cubic-bezier(0, 0.695, 0.37, 0.98);
  -moz-transition: all 1000ms cubic-bezier(0, 0.695, 0.37, 0.98);
  -o-transition: all 1000ms cubic-bezier(0, 0.695, 0.37, 0.98);
  transition: all 1000ms cubic-bezier(0, 0.695, 0.37, 0.98);
  /* custom */
  -webkit-transition-timing-function: cubic-bezier(0, 0.695, 0.37, 0.98);
  -moz-transition-timing-function: cubic-bezier(0, 0.695, 0.37, 0.98);
  -o-transition-timing-function: cubic-bezier(0, 0.695, 0.37, 0.98);
  transition-timing-function: cubic-bezier(0, 0.695, 0.37, 0.98);
  /* custom */ }
  main.active {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0); }

main .cA {
  margin-bottom: 10%; }

/* ローディングアイコン
----------------------------------------*/
.loading {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  width: 100%; }

.relative {
  position: relative; }

.loader-ring {
  position: fixed;
  top: 50%;
  left: 50%;
  margin: -120px 0 0 -120px;
  width: 240px;
  height: 240px;
  z-index: 10000; }

.loader-ring-light {
  width: 240px;
  height: 240px;
  -moz-border-radius: 240px;
  -webkit-border-radius: 240px;
  border-radius: 240px;
  -moz-box-shadow: 0 4px 0 #b30000 inset;
  -webkit-box-shadow: 0 4px 0 #b30000 inset;
  box-shadow: 0 4px 0 #b30000 inset;
  animation: rotate-360 2s linear infinite; }

.loader-ring-track {
  position: absolute;
  top: 0;
  left: 0;
  width: 240px;
  height: 240px;
  -moz-border-radius: 240px;
  -webkit-border-radius: 240px;
  border-radius: 240px;
  -moz-box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.3) inset;
  -webkit-box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.3) inset;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.3) inset; }

@keyframes rotate-360 {
  from {
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  to {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
.loading {
  height: 100%; }

/* 下層ページ　キービジュアル
----------------------------------------*/
body.page main header {
  background: url(../img/_visit/keybg.png) center no-repeat;
  background-size: cover;
  border-bottom-style: solid;
  border-bottom-width: 5px;
  height: 160px; }
  body.page main header div {
    height: 100%;
    overflow: hidden; }
  body.page main header h1 {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#800000+0,800000+100&0.7+0,0.2+100 */
    /* FF3.6-15 */
    /* Chrome10-25,Safari5.1-6 */
    background: -webkit-linear-gradient(left, rgba(128, 0, 0, 0.7) 0%, rgba(128, 0, 0, 0.2) 100%);
    background: -o-linear-gradient(left, rgba(128, 0, 0, 0.7) 0%, rgba(128, 0, 0, 0.2) 100%);
    background: linear-gradient(to right, rgba(128, 0, 0, 0.7) 0%, rgba(128, 0, 0, 0.2) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3800000', endColorstr='#33800000',GradientType=1 );
    /* IE6-9 */
    display: inline-block;
    font-size: 2.4rem;
    padding: 16px; }
body.page.shop main header {
  background-image: url(../img/_shop/keybg.png); }
body.page.sitemap main header {
  background-image: url(../img/_sitemap/keybg.png); }
