@charset "UTF-8";
/*====================================
　* 共通（ハンガーボタン用CSS）
 ※編集するとバージョンアップができなくなるので基本的には固定
=====================================*/
/*メニューボタン設定
----------------------------------------------------------*/
.menu-trigger,
.menu-trigger span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
  z-index: 10000; }

.menu-trigger {
  position: fixed;
  width: 50px;
  height: 34px;
  top: 16px; }

.menu-trigger.right {
  right: 13px; }

.menu-trigger.left {
  left: 13px; }

.menu-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #fff;
  border-radius: 4px; }

.menu-trigger span:nth-of-type(1) {
  top: 0; }

.menu-trigger span:nth-of-type(2) {
  top: 15px; }

.menu-trigger span:nth-of-type(3) {
  bottom: 0; }

@media screen and (max-width: 374px) {
  .menu-trigger {
    width: 14%; } }
/*-------------------------------------------------------*/
.menu-trigger.type1.active span:nth-of-type(1) {
  -webkit-transform: translateY(20px) rotate(-45deg);
  transform: translateY(20px) rotate(-45deg); }

.menu-trigger.type1.active span:nth-of-type(2) {
  opacity: 0; }

.menu-trigger.type1.active span:nth-of-type(3) {
  -webkit-transform: translateY(-10px) rotate(45deg);
  transform: translateY(-10px) rotate(45deg); }

/*-------------------------------------------------------*/
.menu-trigger.type2.active span:nth-of-type(1) {
  -webkit-transform: translateY(20px) rotate(-315deg);
  transform: translateY(20px) rotate(-315deg); }

.menu-trigger.type2.active span:nth-of-type(2) {
  opacity: 0; }

.menu-trigger.type2.active span:nth-of-type(3) {
  -webkit-transform: translateY(-10px) rotate(315deg);
  transform: translateY(-10px) rotate(315deg); }

/*-------------------------------------------------------*/
.menu-trigger.type3.active {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg); }

.menu-trigger.type3.active span:nth-of-type(1) {
  -webkit-transform: translateY(15px) rotate(-45deg);
  transform: translateY(15px) rotate(-45deg); }

.menu-trigger.type3.active span:nth-of-type(2) {
  -webkit-transform: translateY(0) rotate(45deg);
  transform: translateY(0) rotate(45deg); }

.menu-trigger.type3.active span:nth-of-type(3) {
  opacity: 0; }

/*-------------------------------------------------------*/
.menu-trigger.type4 span:nth-of-type(3),
.menu-trigger.type4.active span:nth-of-type(3) {
  transition: none; }

.menu-trigger.type4.active {
  -webkit-transform: rotateX(720deg);
  transform: rotateX(720deg); }

.menu-trigger.type4.active span:nth-of-type(1) {
  -webkit-transform: translateY(15px) rotate(-45deg);
  transform: translateY(15px) rotate(-45deg); }

.menu-trigger.type4.active span:nth-of-type(2) {
  -webkit-transform: translateY(0) rotate(45deg);
  transform: translateY(0) rotate(45deg); }

.menu-trigger.type4.active span:nth-of-type(3) {
  opacity: 0; }

/*-------------------------------------------------------*/
.menu-trigger.type5.active span:nth-of-type(1) {
  -webkit-transform: translateY(20px) rotate(-45deg);
  transform: translateY(20px) rotate(-45deg); }

.menu-trigger.type5.active span:nth-of-type(2) {
  left: 50%;
  opacity: 0;
  -webkit-animation: active-menu-bar02 .8s forwards;
  animation: active-menu-bar02 .8s forwards; }

@-webkit-keyframes active-menu-bar02 {
  100% {
    height: 0; } }
@keyframes active-menu-bar02 {
  100% {
    height: 0; } }
.menu-trigger.type5.active span:nth-of-type(3) {
  -webkit-transform: translateY(-10px) rotate(45deg);
  transform: translateY(-10px) rotate(45deg); }

/*-------------------------------------------------------*/
.menu-trigger.type6 span:nth-of-type(1) {
  -webkit-animation: menu-bar01 .75s forwards;
  animation: menu-bar01 .75s forwards; }

@-webkit-keyframes menu-bar01 {
  0% {
    -webkit-transform: translateY(20px) rotate(45deg); }
  50% {
    -webkit-transform: translateY(20px) rotate(0); }
  100% {
    -webkit-transform: translateY(0) rotate(0); } }
@keyframes menu-bar01 {
  0% {
    transform: translateY(20px) rotate(45deg); }
  50% {
    transform: translateY(20px) rotate(0); }
  100% {
    transform: translateY(0) rotate(0); } }
.menu-trigger.type6 span:nth-of-type(2) {
  transition: all .25s .25s;
  opacity: 1; }

.menu-trigger.type6 span:nth-of-type(3) {
  -webkit-animation: menu-bar02 .75s forwards;
  animation: menu-bar02 .75s forwards; }

@-webkit-keyframes menu-bar02 {
  0% {
    -webkit-transform: translateY(-20px) rotate(-45deg); }
  50% {
    -webkit-transform: translateY(-20px) rotate(0); }
  100% {
    -webkit-transform: translateY(0) rotate(0); } }
@keyframes menu-bar02 {
  0% {
    transform: translateY(-20px) rotate(-45deg); }
  50% {
    transform: translateY(-20px) rotate(0); }
  100% {
    transform: translateY(0) rotate(0); } }
.menu-trigger.type6.active span:nth-of-type(1) {
  -webkit-animation: active-menu-bar01 .75s forwards;
  animation: active-menu-bar01 .75s forwards; }

@-webkit-keyframes active-menu-bar01 {
  0% {
    -webkit-transform: translateY(0) rotate(0); }
  50% {
    -webkit-transform: translateY(20px) rotate(0); }
  100% {
    -webkit-transform: translateY(20px) rotate(45deg); } }
@keyframes active-menu-bar01 {
  0% {
    transform: translateY(0) rotate(0); }
  50% {
    transform: translateY(20px) rotate(0); }
  100% {
    transform: translateY(20px) rotate(45deg); } }
.menu-trigger.type6.active span:nth-of-type(2) {
  opacity: 0; }

.menu-trigger.type6.active span:nth-of-type(3) {
  -webkit-animation: active-menu-bar03 .75s forwards;
  animation: active-menu-bar03 .75s forwards; }

@-webkit-keyframes active-menu-bar03 {
  0% {
    -webkit-transform: translateY(0) rotate(0); }
  50% {
    -webkit-transform: translateY(-10px) rotate(0); }
  100% {
    -webkit-transform: translateY(-10px) rotate(-45deg); } }
@keyframes active-menu-bar03 {
  0% {
    transform: translateY(0) rotate(0); }
  50% {
    transform: translateY(-10px) rotate(0); }
  100% {
    transform: translateY(-10px) rotate(-45deg); } }
