@charset "UTF-8";
/*===================================

 * ◆個別CSSマップ
L　【　訪問マッサージ　】
L　【　店舗一覧　】
L　【　サイトマップ　】

上記のテキストを[ctrl+c][strl+v]でコピーして
指定のページまで飛んでください

===================================*/
/*====================================
　* 訪問マッサージ
=====================================*/
.page.visit article .service p strong {
  display: block;
  margin-bottom: 16px; }
.page.visit article .content {
  text-align: center; }
.page.visit article .flow ol li {
  background: url(../img/_icon/icon008.png) bottom center no-repeat;
  counter-increment: number;
  margin-bottom: 26px;
  padding-bottom: 49px; }
  .page.visit article .flow ol li .inner {
    background-position: 80px 50%;
    background-repeat: no-repeat;
    background-size: 25px;
    padding: 16px 16px 16px 40%;
    position: relative; }
    .page.visit article .flow ol li .inner:before {
      content: "Step" counter(number);
      font-size: 1.8rem;
      font-weight: bold;
      position: absolute;
      top: 50%;
      left: 16px;
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%); }
    .page.visit article .flow ol li .inner p {
      font-weight: bold;
      line-height: 1.8em; }
  .page.visit article .flow ol li:first-child .inner {
    padding-left: 35%; }
  .page.visit article .flow ol li:last-child {
    background-image: none;
    margin-bottom: 0;
    padding: 0; }
  .page.visit article .flow ol li:nth-child(2) .inner {
    background-image: url(../img/_icon/icon009.png); }
  .page.visit article .flow ol li:nth-child(3) .inner {
    background-image: url(../img/_icon/icon010.png); }
  .page.visit article .flow ol li:nth-child(4) .inner {
    background-image: url(../img/_icon/icon011.png); }
  .page.visit article .flow ol li:nth-child(5) .inner {
    background-image: url(../img/_icon/icon012.png); }
.page.visit article .correspondingarea {
  padding-top: 16px;
  padding-bottom: 16px; }
  .page.visit article .correspondingarea dl {
    border-bottom-style: dashed;
    border-bottom-width: 1px;
    margin-bottom: 16px;
    padding-bottom: 16px; }
    .page.visit article .correspondingarea dl dt {
      background: url(../img/_icon/icon013.png) left center no-repeat;
      background-size: 20px;
      padding: 8px 0 8px 24px; }

/*====================================
　* 店舗一覧
=====================================*/
.page.shop article .shop_block {
  padding: 16px 0; }
  .page.shop article .shop_block h2 {
    text-align: center; }
  .page.shop article .shop_block dl {
    border-bottom-style: dashed;
    border-bottom-width: 1px;
    padding: 8px 0; }
    .page.shop article .shop_block dl dt {
      width: 100px; }
    .page.shop article .shop_block dl dd {
      flex: 1; }
  .page.shop article .shop_block .ggmap {
    margin: 16px 0; }
  .page.shop article .shop_block .maplink {
    background-image: url(../img/_icon/icon006.png);
    background-position: 90% 50%;
    background-repeat: no-repeat;
    background-size: 10px;
    display: block;
    max-width: 250px;
    margin: 0 auto;
    padding: 16px;
    text-align: center; }
  .page.shop article .shop_block:nth-child(2n+1) .maplink {
    background-image: url(../img/_icon/icon014.png); }

/*====================================
　* サイトマップ
=====================================*/
.page.sitemap article > ul li a {
  background: url(../img/_icon/icon015.png) left center no-repeat;
  background-size: 22.5px;
  border-bottom-style: dashed;
  border-bottom-width: 1px;
  display: block;
  margin-bottom: 20px;
  padding: 4px 0 4px 32px;
  width: 100%; }
