@charset "UTF-8";
@import "compass/css3";
/*===================================

 * ◆個別CSSマップ
L　【　訪問マッサージ　】
L　【　店舗一覧　】
L　【　サイトマップ　】

上記のテキストを[ctrl+c][strl+v]でコピーして
指定のページまで飛んでください

===================================*/
/*====================================
　* 訪問マッサージ
=====================================*/
.page.visit {
	article {
		.service {
			p {
				strong {
					display: block;
					margin-bottom: 16px;
				}
			}
		}

		.content {
			text-align: center;
		}

		.flow {
			ol {
				li {
					background: url(../img/_icon/icon008.png) bottom center no-repeat;
					counter-increment: number;
					margin-bottom: 26px;
					padding-bottom: 49px;

					.inner {
						background-position: 80px 50%;
						background-repeat: no-repeat;
						background-size: 25px;
						padding: 16px 16px 16px 40%;
						position: relative;

						&:before {
							content: "Step"counter(number);
							font-size: 1.8rem;
							font-weight: bold;
							position: absolute;
							top: 50%;
							left: 16px;
							@include transform(translateY(-50%));
						}

						p {
							font-weight: bold;
							line-height: 1.8em;
						}
					}

					&:first-child {
						.inner {
							padding-left: 35%;
						}
					}

					&:last-child {
						background-image: none;
						margin-bottom: 0;
						padding: 0;
					}

					&:nth-child(2) .inner {
						background-image: url(../img/_icon/icon009.png);
					}

					&:nth-child(3) .inner {
						background-image: url(../img/_icon/icon010.png);
					}

					&:nth-child(4) .inner {
						background-image: url(../img/_icon/icon011.png);
					}

					&:nth-child(5) .inner {
						background-image: url(../img/_icon/icon012.png);
					}
				}
			}
		}

		.correspondingarea {
			padding-top: 16px;
			padding-bottom: 16px;

			dl {
				border-bottom-style: dashed;
				border-bottom-width: 1px;
				margin-bottom: 16px;
				padding-bottom: 16px;

				dt {
					background: url(../img/_icon/icon013.png) left center no-repeat;
					background-size: 20px;
					padding: 8px 0 8px 24px;
				}
			}
		}
	}
}


/*====================================
　* 店舗一覧
=====================================*/
.page.shop article {
	.shop_block {
		padding: 16px 0;

		h2 {
			text-align: center;
		}

		dl {
			border-bottom-style: dashed;
			border-bottom-width: 1px;
			padding: 8px 0;

			dt {
				width: 100px;
			}

			dd {
				flex: 1;
			}
		}

		.ggmap {
			margin: 16px 0;
		}

		.maplink {
			background-image: url(../img/_icon/icon006.png);
			background-position: 90% 50%;
			background-repeat: no-repeat;
			background-size: 10px;
			display: block;
			max-width: 250px;
			margin: 0 auto;
			padding: 16px;
			text-align: center;
		}

		&:nth-child(2n+1) {
			.maplink {
				background-image: url(../img/_icon/icon014.png);
			}
		}
	}
}



/*====================================
　* サイトマップ
=====================================*/
.page.sitemap {
	article {
		>ul {
			li {
				a {
					background: url(../img/_icon/icon015.png) left center no-repeat;
					background-size: 22.5px;
					border-bottom-style: dashed;
					border-bottom-width: 1px;
					display: block;
					margin-bottom: 20px;
					padding: 4px 0 4px 32px;
					width: 100%;
				}
			}
		}
	}
}